In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('./Iris/Iris.csv')
df.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [5]:
df.columns =['SL','SW','PL','PW','Species']
df.head()

    SL   SW   PL   PW      Species
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [6]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [7]:
df_setosa =df[df['Species'] == 'Iris-setosa']
df_setosa.head()

    SL   SW   PL   PW      Species
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [8]:
df_verscolor =df[df['Species'] =='Iris-versicolor']
df_verscolor.head()

     SL   SW   PL   PW          Species
49  7.0  3.2  4.7  1.4  Iris-versicolor
50  6.4  3.2  4.5  1.5  Iris-versicolor
51  6.9  3.1  4.9  1.5  Iris-versicolor
52  5.5  2.3  4.0  1.3  Iris-versicolor
53  6.5  2.8  4.6  1.5  Iris-versicolor

In [9]:
df_virginica =df[df['Species'] =='Iris-virginica']
df_virginica.head()

      SL   SW   PL   PW         Species
99   6.3  3.3  6.0  2.5  Iris-virginica
100  5.8  2.7  5.1  1.9  Iris-virginica
101  7.1  3.0  5.9  2.1  Iris-virginica
102  6.3  2.9  5.6  1.8  Iris-virginica
103  6.5  3.0  5.8  2.2  Iris-virginica

In [11]:
df_merge= pd.concat([df_setosa , df_verscolor ])
df_merge

     SL   SW   PL   PW          Species
0   4.9  3.0  1.4  0.2      Iris-setosa
1   4.7  3.2  1.3  0.2      Iris-setosa
2   4.6  3.1  1.5  0.2      Iris-setosa
3   5.0  3.6  1.4  0.2      Iris-setosa
4   5.4  3.9  1.7  0.4      Iris-setosa
..  ...  ...  ...  ...              ...
94  5.7  3.0  4.2  1.2  Iris-versicolor
95  5.7  2.9  4.2  1.3  Iris-versicolor
96  6.2  2.9  4.3  1.3  Iris-versicolor
97  5.1  2.5  3.0  1.1  Iris-versicolor
98  5.7  2.8  4.1  1.3  Iris-versicolor

[99 rows x 5 columns]

In [14]:
df_sort_PL= df.sort_values('PL')
df_sort_PL

      SL   SW   PL   PW         Species
21   4.6  3.6  1.0  0.2     Iris-setosa
12   4.3  3.0  1.1  0.1     Iris-setosa
34   5.0  3.2  1.2  0.2     Iris-setosa
13   5.8  4.0  1.2  0.2     Iris-setosa
37   4.4  3.0  1.3  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
130  7.9  3.8  6.4  2.0  Iris-virginica
104  7.6  3.0  6.6  2.1  Iris-virginica
121  7.7  2.8  6.7  2.0  Iris-virginica
116  7.7  3.8  6.7  2.2  Iris-virginica
117  7.7  2.6  6.9  2.3  Iris-virginica

[149 rows x 5 columns]

In [15]:
df_transpose =df.T
df_transpose

,0,1,2,3,4,5,6,7,8,9,...,139,140,141,142,143,144,145,146,147,148
SL,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,5.4,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
SW,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,3.7,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
PL,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
PW,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,0.2,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
Species,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

In [19]:
df_melt=pd.melt(df,id_vars=['SL','PL','Species'])
df_melt

      SL   PL         Species variable  value
0    4.9  1.4     Iris-setosa       SW    3.0
1    4.7  1.3     Iris-setosa       SW    3.2
2    4.6  1.5     Iris-setosa       SW    3.1
3    5.0  1.4     Iris-setosa       SW    3.6
4    5.4  1.7     Iris-setosa       SW    3.9
..   ...  ...             ...      ...    ...
293  6.7  5.2  Iris-virginica       PW    2.3
294  6.3  5.0  Iris-virginica       PW    1.9
295  6.5  5.2  Iris-virginica       PW    2.0
296  6.2  5.4  Iris-virginica       PW    2.3
297  5.9  5.1  Iris-virginica       PW    1.8

[298 rows x 5 columns]

In [21]:
df_cast =pd.pivot_table(df,index=['SL','

AttributeError: module 'pandas' has no attribute 'pi'