In [3]:
import numpy as np
import pandas as pd

In [4]:
df= pd.read_csv('./Movie/movies_metadata.csv')

C:\Users\HP\AppData\Local\Temp\ipykernel_14504\3124707517.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('./Movie/movies_metadata.csv')

In [5]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [6]:
df.shape

(45466, 24)

In [7]:
##subset##

In [8]:
df['original_language'].unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', nan, '104.0', 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo',
       'ay', 'kn', 'eu', 'ne', 'pa', 'ky', 'gl', '68.0', 'uz', 'sm', 'mt',
       '82.0', 'hy', 'iu', 'lb', 'si'], dtype=object)

In [9]:
df_en=df[df['original_language']=='en']
df_en

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45459,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [10]:
df_fr=df[df['original_language']=='fr']
df_fr

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
28,False,NaN,18000000,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n...",NaN,902,tt0112682,fr,La Cité des Enfants Perdus,A scientist in a surrealist society kidnaps ch...,...,1995-05-16,1738611.0,108.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,Where happily ever after is just a dream.,The City of Lost Children,False,7.6,308.0
32,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ...",NaN,78802,tt0114952,fr,"Guillaumet, les ailes du courage",NaN,...,1996-09-18,0.0,50.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Wings of Courage,False,6.8,4.0
58,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",NaN,99040,tt0112714,fr,Le confessionnal,"The year is 1952, in Quebec City. Rachel (16),...",...,1995-09-29,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Confessional,False,6.5,2.0
67,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,4482,tt0113149,fr,Gazon maudit,"After learning of her husband's infidelities, ...",...,1995-02-08,0.0,95.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,French Twist,False,6.0,43.0
72,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",NaN,48750,tt0113828,fr,Les misérables,"In France during World War II, a poor and illi...",...,1995-03-22,0.0,175.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,"In a time of chaos, in a world of change, he w...",Les Miserables,False,6.6,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45444,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,1905-01-01,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,1904-03-05,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,1904-01-01,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
45450,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
45451,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0

In [11]:
df_zh=df[df['original_language']=='zh']
df_zh

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,1995-04-30,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
228,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,10451,tt0111797,zh,飲食男女,The film tells the story of a retired and wido...,...,1994-08-03,7294403.0,123.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,Eat Drink Man Woman,False,7.5,76.0
294,False,NaN,400000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,25296,tt0105652,zh,Pushing Hands,The story is about an elderly Chinese tai chi ...,...,1992-02-01,152322.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Pushing Hands,False,6.1,9.0
305,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,159185,tt0110769,zh,Pao Da Shuang Deng,A woman inherits her father's fireworks factor...,...,1994-10-14,0.0,111.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,"Red Firecracker, Green Firecracker",False,7.0,2.0
321,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,31439,tt0110081,zh,活着,Fugui and Jiazhen endure tumultuous events in ...,...,1994-06-30,0.0,125.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,To Live,False,7.7,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44976,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,163202,tt0109691,zh,多桑,"Sega's children, born into post-war Chinese ru...",...,1994-01-01,0.0,167.0,"[{'iso_639_1': 'ja', 'name': '日本語'}, {'iso_639...",Released,NaN,A Borrowed Life,False,5.0,1.0
44999,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}]",NaN,309820,tt0485441,zh,野玫瑰,A wild country girl moves to Shanghai with her...,...,1932-04-11,0.0,70.0,[],Released,NaN,Wild Rose,False,0.0,0.0
45382,False,"{'id': 200641, 'name': 'Red Lotus Collection',...",0,"[{'id': 28, 'name': 'Action'}, {'id': 10769, '...",NaN,182030,tt0059292,zh,火燒紅蓮寺之鴛鴦劍俠,Kwei Wu happens upon a kidnapping with his wif...,...,1965-12-22,0.0,88.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,The Twin Swords,False,5.6,4.0
45383,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,32388,tt0063105,zh,金燕子,Golden Swallow revolves around the further adv...,...,1968-04-03,0.0,89.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,Golden Swallow,False,6.5,10.0
45421,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10769, 'n...",NaN,52103,tt0144020,zh,Xiao Wu,Little pocket thief Wu never got away from the...,...,1997-01-01,0.0,105.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,Pickpocket,False,7.2,13.0

In [12]:
###merger

In [13]:
df_merger=pd.concat([df_zh,df_fr])
df_merger

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
29,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,37557,tt0115012,zh,摇啊摇，摇到外婆桥,A provincial boy related to a Shanghai crime f...,...,1995-04-30,0.0,108.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,In 1930's Shanghai violence was not the proble...,Shanghai Triad,False,6.5,17.0
228,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,10451,tt0111797,zh,飲食男女,The film tells the story of a retired and wido...,...,1994-08-03,7294403.0,123.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,Eat Drink Man Woman,False,7.5,76.0
294,False,NaN,400000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,25296,tt0105652,zh,Pushing Hands,The story is about an elderly Chinese tai chi ...,...,1992-02-01,152322.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Pushing Hands,False,6.1,9.0
305,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,159185,tt0110769,zh,Pao Da Shuang Deng,A woman inherits her father's fireworks factor...,...,1994-10-14,0.0,111.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,"Red Firecracker, Green Firecracker",False,7.0,2.0
321,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,31439,tt0110081,zh,活着,Fugui and Jiazhen endure tumultuous events in ...,...,1994-06-30,0.0,125.0,"[{'iso_639_1': 'zh', 'name': '普通话'}]",Released,NaN,To Live,False,7.7,62.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45444,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}]",NaN,44333,tt0135179,fr,Les cartes vivantes,A bearded magician holds up a large playing ca...,...,1905-01-01,0.0,3.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Living Playing Cards,False,6.1,8.0
45447,False,NaN,0,[],NaN,44324,tt0135631,fr,Le Roi du maquillage,The background of this picture represents a sc...,...,1904-03-05,0.0,3.0,[],Released,NaN,The Untameable Whiskers,False,6.0,6.0
45448,False,NaN,0,[],NaN,122036,tt0224286,fr,Les Transmutations imperceptibles,This shows a prince entering upon the stage of...,...,1904-01-01,0.0,2.0,[],Released,NaN,The Imperceptable Transmutations,False,5.0,2.0
45450,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",NaN,49280,tt0135453,fr,L'Homme orchestre,A band-leader has arranged seven chairs for th...,...,1900-01-01,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The One-Man Band,False,6.5,22.0
45451,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 14, 'nam...",NaN,106807,tt0135571,fr,Nouvelles luttes extravagantes,A series of fantastical wrestling matches.,...,1900-01-01,0.0,2.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Fat and Lean Wrestling Match,False,6.5,6.0

In [14]:
####sort by customer rating vote_average

In [15]:
df_sort=df.sort_values(by='vote_average')
df_sort.head(10)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0
24507,False,"{'id': 38451, 'name': 'Charlie Chan (Warner Ol...",0,"[{'id': 9648, 'name': 'Mystery'}]",NaN,413669,tt0023881,en,Charlie Chan's Greatest Case,Charlie Chan's Greatest Case,...,1933-09-14,0.0,70.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Charlie Chan's Greatest Case,False,0.0,0.0
24506,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,3576,tt0034570,en,Calling Dr. Gillespie,Dr. Gillespie is called in to investigate when...,...,1942-08-01,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Calling Dr. Gillespie,False,0.0,0.0
24498,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,212846,tt3091380,en,Mission Congo,A documentary that examines whether a charity ...,...,2013-09-09,0.0,68.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Mission Congo,False,0.0,0.0
24497,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,208286,tt2621742,en,Crimes Against Humanity,"After cheating on her mean boyfriend, Lewis, B...",...,2014-01-19,0.0,77.0,[],Released,NaN,Crimes Against Humanity,False,0.0,0.0
24463,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,115549,tt0052639,en,Blue Denim,Two naive high-school students must deal with ...,...,1959-07-30,0.0,89.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"How could it happen to Janet...so shy, so youn...",Blue Denim,False,0.0,0.0
24441,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",NaN,274127,tt0166817,es,A Star for Two,Love between a man and a woman that endures th...,...,1991-08-10,0.0,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,A Star for Two,False,0.0,0.0
24436,False,NaN,0,[],NaN,299203,tt2942250,en,Judgement Day,Insects are tortured in various ways amidst th...,...,1983-01-01,0.0,4.0,[],Released,NaN,Judgement Day,False,0.0,0.0
24420,False,NaN,0,[],NaN,292445,tt2316325,en,(Entlastungen) Pipilottis Fehler,Precisely edited to the start-stop rhythm of a...,...,1988-01-13,0.0,11.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}]",Released,NaN,(Absolutions) Pipilotti's Mistakes,False,0.0,0.0
24545,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 28, '...",NaN,264646,tt2234550,en,LEGO Hero Factory: Savage Planet,The Hero Factory's mission: to build the brave...,...,2011-10-04,0.0,45.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,NaN,LEGO Hero Factory: Savage Planet,False,0.0,0.0

In [16]:
df_transpos=df.T
df_transpos

,0,1,2,3,4,5,6,7,8,9,...,45456,45457,45458,45459,45460,45461,45462,45463,45464,45465
adult,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
belongs_to_collection,"{'id': 10194, 'name': 'Toy Story Collection', ...",NaN,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",NaN,"{'id': 96871, 'name': 'Father of the Bride Col...",NaN,NaN,NaN,NaN,"{'id': 645, 'name': 'James Bond Collection', '...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
budget,30000000,65000000,0,16000000,0,60000000,58000000,0,35000000,58000000,...,0,0,0,0,0,0,0,0,0,0
genres,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'id': 35, 'name': 'Comedy'}]","[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",...,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...","[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...","[{'id': 27, 'name': 'Horror'}]","[{'id': 878, 'name': 'Science Fiction'}]","[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'id': 18, 'name': 'Drama'}]","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",[],[]
homepage,http://toystory.disney.com/toy-story,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.mgm.com/view/movie/757/Goldeneye/,...,NaN,NaN,NaN,NaN,NaN,http://www.imdb.com/title/tt6209470/,NaN,NaN,NaN,NaN
id,862,8844,15602,31357,11862,949,11860,45325,9091,710,...,84419,390959,289923,222848,30840,439050,111109,67758,227506,461257
imdb_id,tt0114709,tt0113497,tt0113228,tt0114885,tt0113041,tt0113277,tt0114319,tt0112302,tt0114576,tt0113189,...,tt0038621,tt0265736,tt0252966,tt0112613,tt0102797,tt6209470,tt2028550,tt0303758,tt0008536,tt6980792
original_language,en,en,en,en,en,en,en,en,en,en,...,en,en,en,en,en,fa,tl,en,en,en
original_title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,House of Horrors,Shadow of the Blair Witch,The Burkittsville 7,Caged Heat 3000,Robin Hood,رگ خواب,Siglo ng Pagluluwal,Betrayal,Satana likuyushchiy,Queerama
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...,A family wedding reignites the ancient feud be...,"Cheated on, mistreated and stepped on, the wom...",Just when George Banks has recovered from his ...,"Obsessive master thief, Neil McCauley leads a ...",An ugly duckling having undergone a remarkable...,"A mischievous young boy, Tom Sawyer, witnesses...",International action superstar Jean Claude Van...,James Bond must unmask the mysterious head of ...,...,An unsuccessful sculptor saves a madman named ...,"In this true-crime documentary, we delve into ...",A film archivist revisits the story of Rustin ...,It's the year 3000 AD. The world's most danger...,"Yet another version of the classic epic, with ...",Rising and falling between a man and woman.,An artist struggles to finish his work while a...,"When one of her hits goes wrong, a professiona...","In a small town live two brothers, one a minis...",50 years after decriminalisation of homosexual...
popularity,21.946943,17.015539,11.7129,3.859495,8.387519,17.924927,6.677277,2.561161,5.23158,14.686036,...,0.222814,0.076061,0.38645,0.661558,5.683753,0.072051,0.178241,0.903007,0.003503,0.163015
poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,/e64sOI48hQXyru7naBFyssKFxVd.jpg,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,...,/yMnq9mL5uYxbRgwKqyz1cVGCJYJ.jpg,/q75tCM4pFmUzdCg0gqcOQquCaYf.jpg,/lXtoHVdej6kS1Dc7KAhw05sMos9.jpg,/4lF9LH0b0Z1X94xGK9IOzqEW6k1.jpg,/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'name': 'United Artists', 'id': 60}, {'name'...",...,"[{'name': 'Universal Pictures', 'id': 33}]",[],"[{'name': 'Neptune Salad Entertainment', 'id':...","[{'name': 'Concorde-New Horizons', 'id': 4688}]","[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",[],"[{'name': 'Sine Olivia', 'id': 19653}]","[{'name': 'American World Pictures', 'id': 6165}]","[{'name': 'Yermoliev', 'id': 88753}]",[]
production_countries,"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'DE', 'name': 'Germany'}, {'is...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",...,"[{'iso_3166_1': 'US', 'name': 'United States o...",[],"[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...","[{'iso_3166_1': 'IR', 'name': 'Iran'}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]","[{'iso_3166_1': 'US', 'name': 'United States o...","[{'iso_3166_1': 'RU', 'name': 'Russia'}]","[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]"
release_date,1995-10-30,1995-12-15,1995-12-22,1995-12-22,1995-02-10,1995-12-15,1995-12-15,1995-12-22,1995-12-22,1995-11-16,...,1946-03-29,2000-10-22,2000-10-03,1995-01-01,1991-05-13,NaN,2011-11-17,2003-08-01,1917-10-21,2017-06-09
revenue,373554033.0,262797249.0,0.0,81452156.0,76578911.0,187436818.0,0.0,0.0,64350171.0,352194034.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
runtime,81.0,104.0,101.0,127.0,106.0,170.0,127.0,97.0,106.0,130.0,...,65.0,45.0,30.0,85.0,104.0,90.0,360.0,90.0,87.0,75.0
spoken_languages,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",...,"[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'en', 'name': 'English'}]","[{'iso_639_1': 'fa', 'name': 'فارسی'}]","[{'iso_639_1': 'tl', 'name': ''}]","[{'iso_639_1': 'en', 'name': 'English'}]",[],"[{'iso_639_1': 'en', 'name': 'English'}]"
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released,...,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,NaN,Roll the dice and unleash the excitement!,Still Yelling. Still Fighting. Still Ready for...,Friends are the people who let you be yourself...,Just When His World Is Back To Normal... He's ...,A Los Angeles Crime Saga,You are cordially invited to the most surprisi...,The Original Bad Boys.,Terror goes into overtime.,No limits. No fears. No substitutes.,...,Meet...The CREEPER!,NaN,"Do you know what happened 50 years before ""The...",NaN,NaN,Rising and falling between a man and woman,NaN,A deadly game of wits.,NaN,NaN
title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,House of Horrors,Shadow of the Blair Witch,The Burkittsville 7,Caged Heat 3000,Robin Hood,Subdue,Century of Birthing,Betrayal,Satan Triumphant,Queerama
video,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
vote_average,7.7,6.9,6.5,6.1,5.7,7.7,6.2,5.4,5.5,6.6,...,6.3,7.0,7.0,3.5,5.7,4.0,9.0,3.8,0.0,0.0
vote_count,5415.0,2413.0,92.0,34.0,173.0,1886.0,141.0,45.0,174.0,1194.0,...,8.0,2.0,1.0,1.0,26.0,1.0,3.0,6.0,0.0,0.0

In [17]:
df_melt=pd.melt(df,id_vars=['id','original_language','original_title','overview'] ,value_name='value',var_name='Metrics')
df_melt

,id,original_language,original_title,overview,Metrics,value
0,862,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",adult,False
1,8844,en,Jumanji,When siblings Judy and Peter discover an encha...,adult,False
2,15602,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,adult,False
3,31357,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",adult,False
4,11862,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,adult,False
...,...,...,...,...,...,...
909315,439050,fa,رگ خواب,Rising and falling between a man and woman.,vote_count,1.0
909316,111109,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,vote_count,3.0
909317,67758,en,Betrayal,"When one of her hits goes wrong, a professiona...",vote_count,6.0
909318,227506,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",vote_count,0.0
909319,461257,en,Queerama,50 years after decriminalisation of homosexual...,vote_count,0.0

In [18]:
df_melt1=pd.melt(df,id_vars=['id','original_language','original_title'],value_vars='overview')
df_melt1

,id,original_language,original_title,variable,value
0,862,en,Toy Story,overview,"Led by Woody, Andy's toys live happily in his ..."
1,8844,en,Jumanji,overview,When siblings Judy and Peter discover an encha...
2,15602,en,Grumpier Old Men,overview,A family wedding reignites the ancient feud be...
3,31357,en,Waiting to Exhale,overview,"Cheated on, mistreated and stepped on, the wom..."
4,11862,en,Father of the Bride Part II,overview,Just when George Banks has recovered from his ...
...,...,...,...,...,...
45461,439050,fa,رگ خواب,overview,Rising and falling between a man and woman.
45462,111109,tl,Siglo ng Pagluluwal,overview,An artist struggles to finish his work while a...
45463,67758,en,Betrayal,overview,"When one of her hits goes wrong, a professiona..."
45464,227506,en,Satana likuyushchiy,overview,"In a small town live two brothers, one a minis..."
45465,461257,en,Queerama,overview,50 years after decriminalisation of homosexual...

In [26]:
Casting=pd.pivot_table(df,index=['id','original_language'],values=['budget'])
Casting

                         budget
id    original_language
0     20                    179
1     22                      3
2     20                      3
3     20                      3
4     18                      3
...                         ...
45431 20                      3
45432 20                      3
45433 3                       3
45434 20                      3
45435 18                      3

[45436 rows x 1 columns]